*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif0;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    text-align: center;
    /* width: 90%; */
    max-height: auto;
    background: linear-gradient(135deg , #00feba, #5b548a);
    color: #fff;
    margin-top: 200px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 20px;
    padding: 40px 35px;
}

.section{
    margin: 7px;
}

.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    color: #555;
    background: #ebfffc;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    height: 60px;
    width: 60px;
    display: flex;
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.search button img{
    height: 30px;
    width: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    margin: 15px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;

}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}