*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif0;
    box-sizing: border-box;
}

.section{
    padding-left: 20px;
    padding-top: 50px;
}

.heading h3{
    text-decoration: underline;
    color: #009F55;
}

.getInput {
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #F0F0F0;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #F0F0F0;
    margin-left: 10px;
}

.getInput button{
    border: none;
    padding: 5px ;
    border-radius: 5px;
}

.getInput button img{
    height: 22px;
    padding: 4px 7px 0px ;
    border-radius: 3px;
    cursor: pointer;
    /* background: transparent; */
}

.generate-btn{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    border-radius: none;
    /* flex-direction: c; */
}

.generate-btn button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    flex: 1;
    background-color: #019F55;
    display: flex;
    color: #fff;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.generate-btn button img{
    width: 21px;
    /* height: 20px; */
    margin-right: 10px;
    padding: 3px 0px 3px 0px;
}



