*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif0;
    box-sizing: border-box;
}

body{
    background: #001e4d;

}

.app{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px;
    border-radius: 10px;
    padding: 30px;
    /* display: flex; */
    text-align: center;
    /* justify-content: center; */
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;

}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin:10px 0;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
    /* transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; */
}

.btn:hover{
    background: #222;
    color: #fff;
     box-shadow: 10px 13px 20px rgba(36, 36, 36, 0.5);
}

.btn::selected{
    border-radius: 12px solid green;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    /* height: 35px; */
    border-radius: 7px;
    border: 0;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    display: none;
}